<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><link rel="stylesheet" href="./css/style.css"><title>Testimonial</title></head><body><header class="banner"><div class="d-flex justify-content-around topbar" id="laptop"><div class="d-flex nav-links"><a href="#" class="topbar-link">Home</a><a href="#" class="topbar-link">Contact Us</a><a href="#" class="topbar-link">By theme</a><a href="#" class="topbar-link">support</a></div><div class="d-flex"><img src="images/icon/clock.svg" alt=""><select name="" id="" class="topbar-select"><option value="">open now</option></select></div><div class="d-flex"><a href="#" class="topbar-icon"><img src="./images/icon/ic Linkedin-white.svg" alt=""></a><a href="#" class="topbar-icon"><img src="./images/icon/ic Facebook-white.svg" alt=""></a><a href="#" class="topbar-icon"><img src="./images/icon/ic Twitter-white.svg" alt=""></a><select name="" id="" class="topbar-select"><option value="">USD</option></select><select name="" id="" class="topbar-select"><option value="">English</option></select></div></div><div class="d-flex justify-content-around topbar" id="tablet"><div class="d-flex"><img src="images/icon/clock.svg" alt=""><select name="" id="" class="topbar-select"><option value="">open now</option></select></div><div class="d-flex"><a href="#" class="topbar-icon"><img src="./images/icon/ic Linkedin-white.svg" alt=""></a><a href="#" class="topbar-icon"><img src="./images/icon/ic Facebook-white.svg" alt=""></a><a href="#" class="topbar-icon"><img src="./images/icon/ic Twitter-white.svg" alt=""></a><select name="" id="" class="topbar-select"><option value="">USD</option></select><select name="" id="" class="topbar-select"><option value="">English</option></select></div></div><div class="navbar"><nav class="navbar navbar-expand-lg"><div class="container-fluid"><a class="navbar-brand" href="#"><img src="./images/logo/logo.png" alt="" class="logo"></a><div class="tablet-nav d-flex"><a class="nav-link" href="#"><img src="./images/icon/search.svg" alt=""></a><a class="nav-link" href="#"><img src="./images/icon/heart.svg" alt=""></a><a class="nav-link" href="#"><img src="./images/icon/cart.svg" alt=""></a><a class="button-purple mt-2" href="#">Get started</a></div><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><img src="./images/icon/menu.svg" alt=""></span></button><div class="collapse navbar-collapse" id="navbarSupportedContent"><ul class="navbar-nav me-auto mb-2 mb-lg-0"><li class="nav-item"><a class="nav-link active" href="#">Home</a></li><li class="nav-item"><a class="nav-link" href="#">Projects</a></li><li class="nav-item"><a class="nav-link" href="#">Products</a></li><li class="nav-item"><a class="nav-link" href="#">Events</a></li><li class="nav-item"><a class="nav-link" href="#">FAQs</a></li><li class="nav-item"><a class="nav-link" href="#">News</a></li><li class="nav-item"><a class="nav-link" href="#">Partners</a></li><li class="nav-item laptop-nav"><a class="nav-link" href="#"><img src="./images/icon/search.svg" alt=""></a></li><li class="nav-item laptop-nav"><a class="nav-link" href="#"><img src="./images/icon/heart.svg" alt=""></a></li><li class="nav-item laptop-nav"><a class="nav-link" href="#"><img src="./images/icon/cart.svg" alt=""></a></li><li class="nav-item get-started laptop-nav"><a class="button-purple mt-2" href="#">Get started</a></li></ul></div></div></nav></div><section class="top-section"><div class="container"><nav aria-label="breadcrumb"><ol class="breadcrumb"><li class="breadcrumb-item px-2"><a href="#">Home</a></li><li class="breadcrumb-item">Testimonial</li></ol></nav><div class="content"><h2>Testimonial</h2><p>Lorem ipsum dolor,
sit amet consectetur adipisicing elit. Eligendi tenetur iste,
cumque tempore veniam asperiores voluptatum dolores fugit excepturi aliquam nobis sapiente. Optio quis similique eligendi,
aliquid cumque repudiandae eius! </p></div></div></section><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,32L40,80C80,128,160,224,240,250.7C320,277,400,235,480,181.3C560,128,640,64,720,32C800,0,880,0,960,21.3C1040,43,1120,85,1200,96C1280,107,1360,85,1400,74.7L1440,64L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg></header><section class="container"><div class="row"><div class="col-md-12">.color </div></div></section><footer class="row"><div class="col-md-4 left"><img class="img-fluid logo" src="./images/logo/end-logo.png" srcset=""><p class="footer-content">Lorem ipsum dolor sit amet consectetur,
adipisicing elit. Corrupti aut ducimus,
quis ratione sunt perferendis. Ipsa ipsum ab nobis,
culpa omnis in beatae esse quod,
quos neque debitis accusamus animi. </p><p><img src="images/icon/time.svg" class="icon-time" alt=""><span>Monday - Sunday:</span>9:00-20:00</p><div class="footer-icons tablet-responsive d-flex"><img src="images/icon/ic Linkedin.svg" alt=""><img src="images/icon/ic Facebook.svg" alt=""><img src="images/icon/ic Twitter.svg" alt=""></div></div><div class="col-md-4 middle"><div class="footer-links" id="web-link-footer"><div class="links"><a href="#" class="footer-link">Home</a><a href="#" class="footer-link">Features</a><a href="#" class="footer-link">About Us</a><a href="#" class="footer-link">Store</a></div><div class="links"><a href="#" class="footer-link">Gallery</a><br><a href="#" class="footer-link">Blog</a><br><a href="#" class="footer-link">Contact</a></div></div><div class="footer-icons web-responsive"><img src="images/icon/ic Linkedin.svg" alt=""><img src="images/icon/ic Facebook.svg" alt=""><img src="images/icon/ic Twitter.svg" alt=""></div></div><div class="col-md-4 right"><div class="footer-links d-flex" id="tablet-link-footer"><div class="links"><a href="#" class="footer-link">Home</a><a href="#" class="footer-link">Features</a><a href="#" class="footer-link">About Us</a><a href="#" class="footer-link">Store</a></div><div class="links"><a href="#" class="footer-link">Gallery</a><br><a href="#" class="footer-link">Blog</a><br><a href="#" class="footer-link">Contact</a></div></div><p class="text-white">Subscribe</p><div class="send"><input type="email" class="email" placeholder="email"><img src="images/icon/send.svg" alt="" class="send-icon"></div><div class="right-links"><p>Lorem ipsum: <a href="#">linkaddress.com</a></p><p>Lorem ipsum: <a href="#">linkaddress.com</a></p><p>Lorem ipsum: <a href="#">linkaddress.com</a></p><p>Lorem ipsum: <a href="#">linkaddress.com</a></p></div></div></footer><div class="end" id="web-end"><a href="#">Cookies</a><a href="#">Privacy Policy</a><p>&copy;
MYSI.ALl rights reserved</p><span>powered by: <img src="images/logo/end-logo.png" alt=""></span></div><div id="tablet-end"><div class="end"><a href="#">Cookies</a><a href="#">Privacy Policy</a><span>powered by: <img src="images/logo/end-logo.png" alt=""></span></div><hr><p class="text-center">&copy;
MYSI.ALl rights reserved</p></div><div id="mobile-end"><div class="d-flex"><div class=""><a href="#">Cookies</a><br><a href="#">Privacy Policy</a></div><div class=""><span>powered by: <img src="images/logo/end-logo.png" alt=""></span></div></div><hr><p class="text-center">&copy;
MYSI.ALl rights reserved</p></div><script src="js/main.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body></html>ght: 100vh;
overflow-y: auto;
width: 60%;

}
.add-to-cart-card {
    border: none;
    margin-bottom: 5px;
    width: 190px;
}
.social-icon {
    width: 70%;
}
.select-filter {
    border-radius: 10px;
    padding: 5px 15px;
    border: 1px solid #7B53C1;
}
.add-to-cart-card p,
.add-to-cart-card a {
    font-size: 13px;
}
.add-to-cart-column {
    width: 33% !important;
}
.line {
    border-left: 2px solid #7B53C1;
}
.error {
    background-color: #021D3B;
    height: 80vh;
}
.faq-title {
    overflow: auto;
    height: 100vh;
}
.faq-line {
    background-color: #7B53C1;
    padding: 1px 0;
}
.card-color-border {
    padding: 20px 35px;
    border-radius: 30px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #E35757, #7B53C1) 1 10%;
    min-height: 200px;
}
video {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.document-svg {
    width: 70px;
    margin-bottom: 50px;
}
.document-name {
    font-size: 10px;
}
.icon-document {
    margin-right: 10px;
    width: 10%;
}
.card-color {
    background-color: #021D3B;
    border-radius: 50px;
    box-shadow: 0 0 50px #243e5c94;
    color: #fff;
}
.icon {
    width: 5%;
    margin-right: 5px;
}
.progressbar-skill {
    background: #ED6C4E;
    width: 100%;
    height: 8px;
}
.partner-logo {
    text-align: center;
    padding: 20px;
    border: 1px solid #7b53c186;
    min-height: 170px;
}
.product-img,
.product-pricing {
    width: 90%;
    margin-bottom: 25px;
}
.img-event {
    width: 100%;
    height: 100%;
}
.payment-fail-table {
    text-align: center;
    padding: 30px 100px;
}
.payment-fail-table h6 {
    white-space: nowrap;
}
.payment-fail-table p {
    /* background: #021D3B; */
    
    white-space: nowrap;
    padding: 20px 0;
    color: #000;
}
.product-table,
.summary,
.address {
    padding: 20px 100px;
}
.address h6 {
    color: #7B53C1;
    font-weight: 800;
}
.product-details span {
    color: #7B53C1;
}
.content {
    padding: 50px 0;
}
.content h2 {
    color: #fff;
    padding: 30px 0;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    line-height: 120px;
}
.content p {
    color: #fff;
}
a {
    color: #FFFF;
    text-decoration: none;
}
a:hover {
    color: rgb(245, 245, 245);
}
.top-section {
    background-position: left;
    background-size: 200px 400px;
    background-image: url("../images/bg/left.png");
    background-repeat: no-repeat;
}
.top-header {
    font-size: 12px;
    font-weight: 600;
}
.middle-card {
    position: absolute;
    top: 150%;
    padding: 0 280px;
}
.welcome {
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-top: 15px;
}
.button-one {
    background-color: #758BFD;
    font-size: 13px;
    color: #FFFF;
    font-weight: 600;
}
.button-one:hover {
    opacity: 0.8;
    color: rgb(214, 212, 212);
}
.nav-title {
    font-size: 16px;
    font-weight: 400;
}
.top-section-h1 {
    font-weight: 400;
    font-size: 70px;
    color: #ED6C4E;
}
.top-input {
    font-weight: 500;
    font-size: 13px;
    color: #C4C4C4;
    width: 150%;
}
.border-top-input {
    border-radius: 50rem;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #E35757, #758BFD) 1;
    /* border-radius: 25px;
    border: 3px solid #73AD21;
    padding: 20px; 
    border-image: linear-gradient(to bottom, #E35757, #758BFD) 1; */
}
.Welcome-to-Vena {
    font-weight: 500;
    font-size: 48px;
}
.input-field {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 6px 15px;
    width: 100%;
}
.input-field:focus {
    border: none;
    border-radius: 20px;
}
.promo-input {
    margin-left: 20px;
    border: 1px solid #7B53C1;
}
.line-to-order {
    color: red;
    border: 2px solid red;
}
.month-year {
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}
.month-year::before {
    content: attr(placeholder) !important;
    color: #aaa;
    width: 100%;
}
.month-year:focus::before,
.month-year:active::before {
    content: "";
    width: 0%;
}
.padding {
    padding: 20px 10px;
    margin-bottom: 10px;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #E35757, #758BFD) 1;
}
.carousel-card {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 40px;
    width: 195%;
}
.item {
    width: 50% !important;
}
.category {
    padding: 20px 0;
}
.card {
    border-radius: 30px;
}
.suggestion-card {
    padding: 20px 10px;
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
}
.category-content {
    text-align: center;
}
.category-content p {
    font-weight: 700;
}
.category-content button {
    margin-bottom: 20px;
}
.button-w-full {
    width: 100% !important;
}
.half-line {
    height: 2px;
    margin-top: 11px;
}
.vertical-line {
    border-left: 6px solid #7B53C1;
    height: 500px;
    width: 3px;
}
.button-purple {
    border-radius: 30px;
    padding: 5px 10px;
    color: #fff;
    background-color: #7B53C1;
    border: none;
}
.button-outline-purple {
    border-radius: 30px;
    padding: 5px 10px;
    color: #000;
    background: #fff;
    border: 1px solid #7B53C1;
}
.button-outline-purple:hover {
    background: #7B53C1;
    color: #fff;
    transition: 0.5s;
}
.btn-full-width {
    width: 100%;
}
.search-group {
    display: flex;
    width: 140%;
}
.horizontal-line {
    display: none;
}
.map {
    border-radius: 30px;
    margin-top: 20px;
}
.row {
    margin-right: 0px !important;
}
.pagination {}
.page-number {
    color: #E35757;
    font-size: 20px;
    font-weight: bold;
}
.flex-items {
    width: 25%;
}
.total-page {
    font-weight: bold;
}
footer {
    background-color: #021D3B;
    padding: 20px 150px;
    display: flex;
}
footer .left .logo {
    margin-bottom: 40px;
    width: 60%;
}
footer .left .footer-content {
    color: #fff;
    text-align: justify;
    max-width: 240px;
}
footer .left span {
    color: #7B53C1;
    width: 80%;
}
footer .left .icon-time {
    padding: 0 5px 0 0;
}
.footer-links {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
}
.footer-links .links {
    flex: 0 0 auto;
    width: 36%;
}
footer .footer-icons {
    margin-top: 20px;
    text-align: left;
}
footer .footer-icons img {
    margin-right: 30px;
}
footer .email {
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    width: 100%;
}
footer .send-icon {
    position: absolute;
    right: 13%;
    margin: 8px;
}
footer .right-links {
    margin-top: 50px;
}
footer .right-links p {
    color: #E35757;
}
.end {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 5px;
}
.end a {
    color: #7B53C1;
}
.end p {
    font-weight: bold;
}
.side-line {
    height: 6%;
}
.tablet-responsive {
    visibility: hidden;
}
.mobile-responsive {
    visibility: hidden;
}
#tablet-end {
    display: none;
}
#mobile-end {
    display: none;
}
#tablet-link-footer {
    display: none;
}
.product-fail {
    padding: 0 100px;
}
@media only screen and (max-width: 769px) {
    #tablet {
        visibility: visible;
    }
    
    #laptop {
        visibility: hidden;
    }
    
    .navbar {
        padding: 10px 19px;
    }
    
    .nav-link {
        color: white;
    }
    
    .navbar-nav {
        margin-left: 0 !important;
    }
    
    .banner-content {
        padding: 60px 30px;
    }
    
    .tablet-nav {
        visibility: visible;
    }
    
    .laptop-nav {
        visibility: hidden;
    }
    
    .container {
        padding: 10px 20px !important;
    }
    
    .container-fluid {
        padding: 0 !important;
    }
    
    .side-line {
        position: absolute;
        top: 45%;
    }
    
    .vertical-line {
        display: none;
    }
    
    .horizontal-line {
        background: #7B53C1;
    }
    
    .product-fail {
        padding: 20px 100px;
    }
    
    .payment-fail-table {
        width: 800px;
    }
    
    .open {
        position: absolute;
        left: 20px;
    }
    
    .nav-icons {
        position: absolute;
        left: 45%;
    }
    
    .tablet-responsive {
        visibility: visible;
    }
    
    .web-responsive {
        visibility: hidden;
    }
    
    #web-link-footer {
        visibility: hidden;
    }
    
    #tablet-link-footer .links {
        margin-right: 20px;
        margin-bottom: 30px;
    }
    
    #tablet-link-footer {
        display: block;
    }
    
    footer {
        background-color: #021D3B;
        padding: 20px 72px;
        display: flex;
    }
    
    #web-end {
        display: none;
    }
    
    #tablet-end {
        display: block;
    }
    
    .payment-fail-table {
        display: flex;
        padding: 0;
        justify-content: space-between;
        background: #FFA970;
    }
    
    .payment-fail-table h6 {
        color: #fff;
    }
    
    .payment-fail-table p {
        padding: 0;
        background: none;
    }
}
@media only screen and (max-width: 430px) {
    body {
        overflow-x: hidden;
    }
    
    #tablet {
        visibility: hidden;
    }
    
    #laptop {
        visibility: hidden;
    }
    
    .navbar {
        margin-top: -50px;
    }
    
    .container {
        padding: 10px 10px !important;
    }
    
    .container-fluid {
        padding: 0 !important;
    }
    
    .product-fail {
        padding: 20px 20px;
    }
    
    .tablet-responsive img,
    .started {
        visibility: hidden;
    }
    
    .web-responsive {
        visibility: hidden;
    }
    
    .top-header {
        visibility: hidden;
    }
    
    .mobile-responsive {
        display: block;
    }
    
    .topnav-right {
        width: 0%;
    }
    
    #web-end {
        display: none;
    }
    
    #mobile-end {
        display: block;
    }
    
    #tablet-end {
        display: none;
    }
    
    #mobile-end a {
        color: #7B53C1;
    }
    
    #mobile-end span {
        margin-left: 40px;
    }
    
    footer {
        background-color: #021D3B;
        padding: 20px 36px;
        display: flex;
    }
    
    .middle {
        display: none;
    }
    
    .product-table,
    .summary,
    .address {
        padding: 0 20px;
    }
}