@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
html {
    margin-top: -4px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: auto;
    background-size: auto;
    background-image: url("../images/bg/right.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #021D3B;
}

#laptop {
    margin-left: 63px;
}

.banner-img {
    width: 100%;
    height: 180%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/bg/background-wave.svg'), url('../images/bg/hill.png');
}

.topbar {
    padding-top: 10px;
}

.navbar {
    overflow-x: hidden;
    margin-left: 60px;
}

.topbar-link,
.topbar-icon {
    margin-right: 20px;
}

.topbar-select {
    background: transparent;
    border: none;
}

#tablet {
    visibility: hidden;
}

.navbar-nav {
    margin-left: -25% !important;
}

.tablet-nav {
    visibility: hidden;
}

.bg-021D3B {
    background-color: #021D3B;
}

.nav-link {
    color: #fff !important;
}

.logo {
    margin-right: 50px;
    width: 120px;
}

.banner-text {
    width: 60%;
}

.play-icon {
    margin: auto;
    height: 80px;
}

.banner-content {
    padding: 100px 150px;
}

.banner-title {
    font-size: 50px;
}

.banner-cards {
    margin: auto;
    padding: 50px 80px;
}

.wave-bg1 {
    width: 100%;
    z-index: -10;
    position: absolute;
    background-color: #021D3B;
    top: 120%;
}

.text-A4D26A {
    color: #A4D26A;
}

.wave-bg2 {
    width: 100%;
    z-index: -10;
    position: absolute;
    background-color: #021D3B;
    top: 415%;
}

.wave-bg3 {
    width: 100%;
    z-index: -10;
    position: absolute;
    background-color: #021D3B;
    top: 955%;
}

.card-img {
    width: 100%;
}

.middle-content-bg {
    z-index: -100;
    position: absolute;
    top: 70%;
}

.content-bg {
    background-image: url('../images/bg/left-content.png'), url('../images/bg/right-content.png');
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: 200px;
}

.get-started {
    margin: 7px;
}

.breadcrumb {
    margin-top: 35px;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #ED6C4E;
    content: var(--bs-breadcrumb-divider, ">");
}

.breadcrumb-item a {
    color: #ED6C4E;
}

.breadcrumb-item .active {
    color: #000;
}

.content-title {
    padding: 40px 10px;
}

.content-title h4 {
    font-weight: 800;
}

.content-title p {
    color: #000 !important;
}

.container {
    padding: 20px 70px !important;
}

.location {
    width: 150%;
}

.text-7B53C1 {
    color: #7B53C1;
}

.text-E35757 {
    color: #E35757;
}

.middle-content {
    width: 60%;
    padding: 50px 0 0 250px;
}

.middle-img {
    width: 40%;
}

.linear-bg {
    background: linear-gradient(to right, #7B53C1, #E35757);
}

.documents {
    background-image: url('../images/bg/document-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 120px;
}

.bg-FFA970 {
    background-color: #FFA970;
}

.bg-E35757 {
    background-color: #e357579f;
}

.card-color {
    background-color: #021D3B;
    border-radius: 50px;
    box-shadow: 0 0 50px #243e5c94;
    color: #fff;
}

.product-img,
.product-pricing {
    width: 90%;
    margin-bottom: 25px;
}

.payment-fail-table {
    text-align: center;
    padding: 30px 100px;
}

.payment-fail-table h6 {
    white-space: nowrap;
}

.payment-fail-table p {
    /* background: #021D3B; */
    white-space: nowrap;
    padding: 20px 0;
    color: #000;
}

.product-table,
.summary,
.address {
    padding: 20px 100px;
}

.address h6 {
    color: #7B53C1;
    font-weight: 800;
}

.product-details span {
    color: #7B53C1;
}

.content {
    padding: 50px 0;
}

.content h2 {
    color: #fff;
    padding: 30px 0;
    text-align: left;
    font-weight: bold;
    font-style: normal;
    line-height: 120px;
}

.content p {
    color: #fff;
}

a {
    color: #FFFF;
    text-decoration: none;
}

a:hover {
    color: rgb(245, 245, 245);
}

.top-section {
    background-position: left;
    background-size: 200px 400px;
    background-image: url("../images/bg/left.png");
    background-repeat: no-repeat;
}

.top-header {
    font-size: 12px;
    font-weight: 600;
}

.middle-card {
    position: absolute;
    top: 150%;
    padding: 0 280px;
}

.welcome {
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-top: 15px;
}

.button-one {
    background-color: #758BFD;
    font-size: 13px;
    color: #FFFF;
    font-weight: 600;
}

.button-one:hover {
    opacity: 0.8;
    color: rgb(214, 212, 212);
}

.nav-title {
    font-size: 16px;
    font-weight: 400;
}

.top-section-h1 {
    font-weight: 400;
    font-size: 70px;
    color: #ED6C4E;
}

.top-input {
    font-weight: 500;
    font-size: 13px;
    color: #C4C4C4;
    width: 150%;
}

.border-top-input {
    border-radius: 50rem;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #E35757, #758BFD) 1;
    /* border-radius: 25px;
    border: 3px solid #73AD21;
    padding: 20px; 
    border-image: linear-gradient(to bottom, #E35757, #758BFD) 1; */
}

.Welcome-to-Vena {
    font-weight: 500;
    font-size: 48px;
}

.input-field {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 6px 15px;
    width: 100%;
}

.input-field:focus {
    border: none;
    border-radius: 20px;
}

.promo-input {
    margin-left: 20px;
    border: 1px solid #7B53C1;
}

.line-to-order {
    color: red;
    border: 2px solid red;
}

.month-year {
    border: none;
    border-bottom: 1px solid;
    width: 100%;
}

.month-year::before {
    content: attr(placeholder) !important;
    color: #aaa;
    width: 100%;
}

.month-year:focus::before,
.month-year:active::before {
    content: "";
    width: 0%;
}

.padding {
    padding: 20px 10px;
    margin-bottom: 10px;
    border: 4px solid transparent;
    border-image: linear-gradient(to bottom, #E35757, #758BFD) 1;
}

.carousel-card {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px 40px;
    width: 195%;
}

.item {
    width: 50% !important;
}

.category {
    padding: 20px 0;
}

.card {
    border-radius: 30px;
}

.suggestion-card {
    padding: 20px 10px;
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
}

.category-content {
    text-align: center;
}

.category-content p {
    font-weight: 700;
}

.category-content button {
    margin-bottom: 20px;
}

.button-w-full {
    width: 100% !important;
}

.half-line {
    height: 2px;
    margin-top: 11px;
}

.vertical-line {
    border-left: 6px solid #7B53C1;
    height: 500px;
    width: 3px;
}

.button-purple {
    border-radius: 30px;
    padding: 5px 10px;
    color: #fff;
    background-color: #7B53C1;
    border: none;
}

.button-outline-purple {
    border-radius: 30px;
    padding: 5px 10px;
    color: #000;
    background: #fff;
    border: 1px solid #7B53C1;
}

.button-outline-purple:hover {
    background: #7B53C1;
    color: #fff;
    transition: 0.5s;
}

.btn-full-width {
    width: 100%;
}

.search-group {
    display: flex;
    width: 140%;
}

.horizontal-line {
    display: none;
}

.map {
    border-radius: 30px;
    margin-top: 20px;
}

.row {
    margin-right: 0px !important;
}

.pagination {}

.page-number {
    color: #E35757;
    font-size: 20px;
    font-weight: bold;
}

.flex-items {
    width: 25%;
}

.total-page {
    font-weight: bold;
}

footer {
    background-color: #021D3B;
    padding: 20px 150px;
    display: flex;
}

footer .left .logo {
    margin-bottom: 40px;
    width: 60%;
}

footer .left .footer-content {
    color: #fff;
    text-align: justify;
    max-width: 240px;
}

footer .left span {
    color: #7B53C1;
    width: 80%;
}

footer .left .icon-time {
    padding: 0 5px 0 0;
}

.footer-links {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
}

.footer-links .links {
    flex: 0 0 auto;
    width: 36%;
}

footer .footer-icons {
    margin-top: 20px;
    text-align: left;
}

footer .footer-icons img {
    margin-right: 30px;
}

footer .email {
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    width: 100%;
}

footer .send-icon {
    position: absolute;
    right: 13%;
    margin: 8px;
}

footer .right-links {
    margin-top: 50px;
}

footer .right-links p {
    color: #E35757;
}

.end {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 5px;
}

.end a {
    color: #7B53C1;
}

.end p {
    font-weight: bold;
}

.side-line {
    height: 6%;
}

.tablet-responsive {
    visibility: hidden;
}

.mobile-responsive {
    visibility: hidden;
}

#tablet-end {
    display: none;
}

#mobile-end {
    display: none;
}

#tablet-link-footer {
    display: none;
}

.product-fail {
    padding: 0 100px;
}

@media only screen and (max-width: 769px) {
    #tablet {
        visibility: visible;
    }
    #laptop {
        visibility: hidden;
    }
    .navbar {
        padding: 10px 19px;
    }
    .nav-link {
        color: white;
    }
    .navbar-nav {
        margin-left: 0 !important;
    }
    .banner-content {
        padding: 60px 30px;
    }
    .tablet-nav {
        visibility: visible;
    }
    .laptop-nav {
        visibility: hidden;
    }
    .container {
        padding: 10px 20px !important;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .side-line {
        position: absolute;
        top: 45%;
    }
    .vertical-line {
        display: none;
    }
    .horizontal-line {
        background: #7B53C1;
    }
    .product-fail {
        padding: 20px 100px;
    }
    .payment-fail-table {
        width: 800px;
    }
    .open {
        position: absolute;
        left: 20px;
    }
    .nav-icons {
        position: absolute;
        left: 45%;
    }
    .tablet-responsive {
        visibility: visible;
    }
    .web-responsive {
        visibility: hidden;
    }
    #web-link-footer {
        visibility: hidden;
    }
    #tablet-link-footer .links {
        margin-right: 20px;
        margin-bottom: 30px;
    }
    #tablet-link-footer {
        display: block;
    }
    footer {
        background-color: #021D3B;
        padding: 20px 72px;
        display: flex;
    }
    #web-end {
        display: none;
    }
    #tablet-end {
        display: block;
    }
    .payment-fail-table {
        display: flex;
        padding: 0;
        justify-content: space-between;
        background: #FFA970;
    }
    .payment-fail-table h6 {
        color: #fff;
    }
    .payment-fail-table p {
        padding: 0;
        background: none;
    }
}

@media only screen and (max-width: 430px) {
    body {
        overflow-x: hidden;
    }
    #tablet {
        visibility: hidden;
    }
    #laptop {
        visibility: hidden;
    }
    .navbar {
        margin-top: -50px;
    }
    .container {
        padding: 10px 10px !important;
    }
    .container-fluid {
        padding: 0 !important;
    }
    .product-fail {
        padding: 20px 20px;
    }
    .tablet-responsive img,
    .started {
        visibility: hidden;
    }
    .web-responsive {
        visibility: hidden;
    }
    .top-header {
        visibility: hidden;
    }
    .mobile-responsive {
        display: block;
    }
    .topnav-right {
        width: 0%;
    }
    #web-end {
        display: none;
    }
    #mobile-end {
        display: block;
    }
    #tablet-end {
        display: none;
    }
    #mobile-end a {
        color: #7B53C1;
    }
    #mobile-end span {
        margin-left: 40px;
    }
    footer {
        background-color: #021D3B;
        padding: 20px 36px;
        display: flex;
    }
    .middle {
        display: none;
    }
    .product-table,
    .summary,
    .address {
        padding: 0 20px;
    }
}